<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Seam Carving Demo</title>
  </head>
  <body>
	  <div class="container justify-content-center">
	    <h1 class="text-center">Seam Carving Demo</h1>    
	    <p class="text-center">A Live Demo for Content-Aware Image Resizing by Seam Carving</p>
		
		<hr>
		
		<div class="row">
			<div class="col-md-6 justify-content-center">
				<h3 class="text-center">Original Image</h3>
				<img th:src="${picturePath}" class="img-fluid">
				<p>Original Width: <i th:text="${originalWidth}">1000</i> px, Original Height: <i th:text="${originalHeight}">1000</i> px</p>
			</div>

			<div class="col-md-6 justify-content-center">
				<h3 class="text-center">Resized Image</h3>
				<img th:src="${resizedPath}" class="img-fluid">
				<p>Resized Width: <i th:text="${newWidth}">1000</i> px, Resized Height: <i th:text="${newHeight}">1000</i> px</p>
			</div>
		</div>
		
		<hr>
			
		<form class="form-inline" action="/resize" method="POST">
			<div class="row">	
				<div class="col-5">
			    	<label for="targetWdith" class="form-label">Target Width</label>
			    	<input type="text" class="form-control" id="targetWdith" name="targetWidth">
			    	<div id="widthNote" class="form-text">The target width could not exceed the original width.</div>
			  	</div>
				<div class="col-5">
			    	<label for="targetHeight" class="form-label">Target Height</label>
			    	<input type="text" class="form-control" id="targetHeight" name="targetHeight">
			    	<div id="heightNote" class="form-text">The target height could not exceed the original height.</div>	
			  	</div>
			  	<div class="col-2 text-center" style="vertical-align: middle">
		  			<button type="submit" class="btn btn-sm btn-primary">Resize</button>
		  		</div>
		</form>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>